<div class="blade-content">
  <div class="blade-inner">
    <div class="inner-block">
      <div class="table-wrapper" ng-init="setGridOptions('measures-sample', {
            data: 'listEntries',
            rowTemplate: 'list.row.html',
            rowHeight: 60,
            columnDefs: [
                        { name: 'name', displayName: 'catalog.blades.measures-list.labels.name', enableSorting: false },
                ]})">
        <div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-save-state ui-grid-selection ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-height></div>
      </div>
      <p class="note" ng-if="!listEntries.length">{{'platform.list.no-data' | translate}}</p>
    </div>
  </div>
</div>

<script type="text/ng-template" id="list.row.html">
  <div ng-click="grid.appScope.blade.selectNode(row.entity)" ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid" ui-grid-one-bind-id-grid="rowRenderIndex + '-' + col.uid + '-cell'" class="ui-grid-cell" ng-class="{'ui-grid-row-header-cell': col.isRowHeader, '__hovered': grid.appScope.contextMenuEntity === row.entity, '__selected': row.entity.id===grid.appScope.selectedNodeId }" role="{{col.isRowHeader ? 'rowheader' : 'gridcell'}}" ui-grid-cell context-menu="grid.appScope.contextMenuEntity = row.entity" data-target="sel_menu"></div>
</script>