<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <form name="formScope">
                <div class="form-group" ng-init="setForm(formScope)">
                    <label class="form-label">{{ 'catalog.blades.filter-detail.labels.name' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.name" required placeholder="{{ 'catalog.blades.filter-detail.placeholders.name' | translate }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">{{ 'catalog.blades.filter-detail.labels.criteria' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.keyword" required placeholder="{{ 'catalog.blades.filter-detail.placeholders.criteria' | translate }}" />
                    </div>
                </div>
            </form>

            <div class="sub-t">Quick search reference</div>            
            <div class="form-group">
                Field names
                <ul>
                    <li>find all notebooks with the "apple" brand:</li>
                    <div class="note">ipod brand:apple</div>
                    <li>where the price has no value (or is missing):</li>
                    <div class="note">is:unpriced</div>
                    <li>where the price has any non-null value:</li>
                    <div class="note">is:priced</div>
                    <li>where the price is in USD and between values:</li>
                    <div class="note">price_usd:[100 TO 200]</div>                    
                    <li>where the price is in any currency and between values:</li>
                    <div class="note">price:[100 TO 200]</div>
                    <li>all active "sony" products:</li>
                    <div class="note">sony is:visible</div>
                    <li>all hidden products:</li>
                    <div class="note">is:hidden</div>
                </ul>
                Wildcards
                <ul>
                    <li>use ? to replace a single character, and * to replace zero or more characters:</li>
                    <div class="note">Da?? Red*</div>
                </ul>
            </div>
            <a ng-href="https://virtocommerce.com/" target="_blank">Query string syntax reference</a>
        </div>
    </div>
</div>