<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <form name="formScope">
                <div class="form-group" ng-init="setForm(formScope)">
                    <label class="form-label">{{ 'catalog.blades.filter-detail.labels.name' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.name" required placeholder="{{ 'catalog.blades.filter-detail.placeholders.name' | translate }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">{{ 'catalog.blades.filter-detail.labels.criteria' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.keyword" required placeholder="{{ 'catalog.blades.filter-detail.placeholders.criteria' | translate }}" />
                    </div>
                </div>
            </form>

            <div class="form-group">Quick search reference</div>
            <div class="form-group">
                <ul>
                    <li>Search in any field with wildcard (*)</li>
                    <div class="note">Pa*</div>
                    <li>Search in specified field with wildcard (*)</li>
                    <div class="note">name: 3 P*</div>
                    <li>Wildcard searches can be run on individual terms, using ? to replace a single character, and * to replace zero or more characters</li>
                    <div class="note">Da?? Red*</div>
                </ul>
            </div>

            <a ng-href="https://virtocommerce.com/" target="_blank">Query string syntax reference</a>
        </div>
    </div>
</div>