<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <form name="formScope">
                <div class="form-group" ng-init="setForm(formScope)">
                    <label class="form-label">{{ 'catalog.blades.filter-detail.labels.name' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.name" required placeholder="{{ 'catalog.blades.filter-detail.placeholders.name' | translate }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">{{ 'catalog.blades.filter-detail.labels.criteria' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.keyword" required placeholder="{{ 'catalog.blades.filter-detail.placeholders.criteria' | translate }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">
                        When searching, you can construct queries that match specific numbers and words.
                        #Query for values greater than another value:
                        cats stars:">10"
                        cats created:>=2012-04-30
                        cats created:"2012-04-30 .. 2012-07-04"
                    </label>
                </div>

            </form>
        </div>
    </div>
</div>