<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="form">
                <div class="form-control __checkbox">
                    <label class="form-label">
                        <input type="checkbox" ng-model="blade.propertyValidationRule.required">
                        <span class="check"></span>
                        <span class="name">{{ 'catalog.blades.property-detail.labels.required' | translate }}</span>
                    </label>
                </div>
                <div class="form-control __checkbox">
                    <label class="form-label">
                        <input type="checkbox" ng-model="blade.propertyValidationRule.isLimited">
                        <span class="check"></span>
                        <span class="name">{{'catalog.blades.property-validationRule.character-count'|translate}}</span>
                    </label>
                </div>
            </div>

            <form class="form" name="rules" >
                <div class="columns clearfix" ng-init="setForm(rules)">
                    <div class="column">
                      <div class="form-group">
                        <div class="form-input">
                            <ui-select ng-model="blade.propertyValidationRule.selectedLimit">
                                <ui-select-match>{{'catalog.blades.property-validationRule.character-limit.'+$select.selected|translate}}</ui-select-match>
                                <ui-select-choices repeat="selectedLimit in blade.propertyValidationRule.characterLimit | filter: $select.search">
                                    <span>{{'catalog.blades.property-validationRule.character-limit.' + selectedLimit|translate}}</span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                        <div class="form-group">
                            <div class="form-input">
                                <input ng-disabled="
                                       !blade.propertyValidationRule.isLimited||
                                       !blade.propertyValidationRule.selectedLimit||
                                       blade.propertyValidationRule.selectedLimit=='not-more-than'"
                                       placeholder="Min" class="form-control" type="number" ng-model="blade.propertyValidationRule.charCountMin" />
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="form-group">
                            <div class="form-input">
                                <input ng-disabled="
                                       !blade.propertyValidationRule.isLimited||
                                       !blade.propertyValidationRule.selectedLimit||
                                       blade.propertyValidationRule.selectedLimit=='at-least'" 
                                       placeholder="Max" class="form-control" type="number" ng-model="blade.propertyValidationRule.charCountMax" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="form">
                <div class="form-control __checkbox">
                    <label class="form-label">
                        <input type="checkbox" ng-model="blade.propertyValidationRule.isSpecificPattern">
                        <span class="check"></span>
                        <span class="name">{{'catalog.blades.property-validationRule.match-validation-pattern'|translate}}</span>
                    </label>
                </div>
            </div>
            <form class="form">
                <div class="columns">
                    <div class="column">
                        <div class="form-group">
                        <div class="form-input">
                            <ui-select ng-model="blade.propertyValidationRule.selectedPattern">
                                <ui-select-match>{{ $select.selected.name }}</ui-select-match>
                                <ui-select-choices repeat="selectedPattern in blade.propertyValidationRule.validationPatterns| filter: $select.search">
                                    <div>{{'catalog.blades.property-validationRule.patterns.' + selectedPattern.name |translate}}</div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="form-group">
                            <span class="form-input">
                                <input ng-disabled="!blade.propertyValidationRule.isSpecificPattern" 
                                       ng-model="blade.propertyValidationRule.selectedPattern.pattern"/>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
            <div class="blade-static __bottom" ng-include="'Modules/$(VirtoCommerce.Catalog)/Scripts/blades/common/templates/ok-cancel.tpl.html'">
            </div>
        </div>
    </div>
</div>