<div id="property_dictionary">
    <div id="property_dictionary_new" class="blade-static property-dictionary-new">
        <form class="form" ng-submit="add()" name="pdForm" novalidate autocomplete="off">
            <fieldset>
                <legend>{{ 'catalog.blades.property-dictionary.labels.new-value' | translate }}</legend>
                <div class="form-input">
                    <va-property2 ng-model="newValue" languages="pb.languages" default-language="pb.defaultLanguage"></va-property2>
                </div>
                <div class="form-error" ng-if="newValue.duplicate && !pdForm.$invalid">
                    <span ng-if="newValue.duplicate">{{ 'catalog.blades.property-dictionary.validations.duplicate' | translate }}</span>
                </div>
                <div class="form-group">
                    <button class="btn" ng-disabled="pdForm.$invalid || newValue.duplicate" type="submit">{{ 'platform.commands.add' | translate }}</button>
                </div>
                <legend>{{ 'catalog.blades.property-dictionary.labels.current-values' | translate }}</legend>
            </fieldset>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th class="table-col ">
                        <label class="form-control __checkbox">
                            <input type="checkbox" ng-model="selectedAll" ng-change="checkAll(selectedAll)" />
                            <span class="check"></span>
                        </label>
                    </th>
                    <th ng-if="exposeAlias" class="table-col">{{ 'catalog.blades.property-dictionary.labels.alias' | translate }}</th>
                    <th class="table-col">{{ 'catalog.blades.property-dictionary.labels.value' | translate }}</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="blade-content property-dictionary-list">
        <div class="blade-inner">
            <div class="inner-block">
                <form class="form" name="pdFormDict" novalidate autocomplete="off">
                    <fieldset ng-if="dictionaryPropertyValues.length > 0" ng-init="setForm(pdFormDict)">
                        <div class="table-wrapper">
                            <table class="table __indexed">
                                <tbody>
                                    <tr class="table-item" ng-repeat="data in dictionaryPropertyValues | orderBy:'alias'" ng-class="{'__selected': data === selectedItem}" context-menu data-target="pd_menu_{{$index}}" ng-click='selectItem(data)'>
                                        <td class="table-col">
                                            <label class="form-control __checkbox">
                                                <input type="checkbox" ng-model="data.selected">
                                                <span class="check"></span>
                                            </label>
                                        </td>
                                        <td ng-if="exposeAlias" class="table-col">
                                            <div class="form-input">
                                                <input ng-model="data.alias" type="text" />
                                            </div>
                                        </td>
                                        <td class="table-col">
                                            <div ng-if="pb.currentEntity.multilanguage && selectedItem != data" class="form-group">
                                                <div class="form-input __langs">
                                                    <span class="flag flag-us"></span>
                                                    <input type="text" readonly value="{{ data.values[0].value }}">
                                                </div>
                                            </div>
                                            <va-property2 ng-if="!pb.currentEntity.multilanguage || selectedItem == data" ng-model="data" languages="pb.languages" default-language="pb.defaultLanguage"></va-property2>
                                            <div class="form-error" ng-if="data.duplicate">
                                                <span>{{ 'catalog.blades.property-dictionary.validations.duplicate' | translate }}</span>
                                            </div>
                                            <ul role="menu" class="menu __context" id="pd_menu_{{$index}}">
                                                <li class="menu-item" ng-click='delete(data)'>
                                                    <i class="menu-ico fa fa-trash-o"></i> {{ 'platform.commands.delete' | translate }}
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div class="blade-static __bottom" ng-include="'Modules/$(VirtoCommerce.Catalog)/Scripts/blades/common/templates/ok-cancel.tpl.html'"></div>
</div>