<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <form name="pdForm" class="form">
                <div class="form-group" ng-init="setForm(pdForm);">
                    <label class="form-label" for="">{{ 'catalog.blades.property-dictionary.placeholders.alias' | translate }}</label>
                    <div class="form-input">
                        <input focus-on="" required class="form-control" ng-model="blade.property.alias" />
                    </div>
                </div>

                <div class="form-group" ng-if="!pb.parentBlade.currentEntity.multilanguage">
                    <label class="form-label" for="">{{ 'catalog.blades.property-attributes.labels.value' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.property.values[0].value" required placeholder="{{ 'catalog.blades.property-dictionary.placeholders.value' | translate }}" class="form-control" />
                        <input type="hidden" ng-value="blade.property.values[0].languageCode" ng-init="blade.property.values[0].languageCode = defaultLanguage;"/>
                    </div>
                </div>

                <div ng-if="pb.parentBlade.currentEntity.multilanguage">
                    <div class="form-group" ng-repeat="lang in pb.parentBlade.parentBlade.languages">
                        <label class="form-label" for="">{{ getLanguageName(lang) }}</label>
                        <div class="form-input">
                            <input ng-model="blade.property.values[$index].value" ng-required="lang == defaultLanguage" placeholder="{{ 'catalog.blades.property-dictionary.placeholders.value' | translate }}" class="form-control" />
                            <input type="hidden" ng-value="blade.property.values[$index].languageCode" ng-init="blade.property.values[$index].languageCode = lang;"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>