<div class="blade-static __bottom">
    <button class="btn" ng-click="saveRule()" ng-disabled="blade.categoryCount === 0">
        <span>Confirm</span>
    </button>
</div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <form class="form" name="exportForm">
                <div class="form-group">
                    <ul class="list __items">
                        <li class="list-item" ng-click="selectCategories()">
                            <i class="list-ico fa fa-cogs"></i>
                            <span class="list-t">{{ 'Select categories' | translate }}</span>
                            <span class="list-descr">{{ blade.categoryCount }} selected </span>
                        </li>
                        <li class="list-item" ng-click="selectProperties()" ng-class="{'__disabled': blade.categoryCount === 0 }">
                            <i class="list-ico fa fa-cogs"></i>
                            <span class="list-t">{{ 'Select properties' | translate }}</span>
                            <span class="list-descr">{{blade.editedPropertiesCount  }} selected</span>
                        </li>
                        <li class="list-item" ng-click="editProperties()" ng-class="{'__disabled': blade.editedPropertiesCount === 0  }">
                            <i class="list-ico fa fa-cogs"></i>
                            <span class="list-t">{{ 'Set value to selected properties' | translate }}</span>
                            <span class="list-descr">{{ blade.editedPropertiesCount }} selected</span>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>