<div class="modal-header">
  <h3 class="modal-title">{{ 'catalog.dialogs.reindex-products.title' | translate }}</h3>
</div>
<div class="modal-body">
  <p class="text">{{ 'catalog.dialogs.reindex-products.message' | translate }}</p>
</div>
<div class="modal-footer">
  <button class="btn" ng-click="yes()" va-permission="search:index:rebuild">{{ 'platform.commands.confirm' | translate }}</button>
  <button class="btn __cancel" ng-click="cancel()">{{ 'platform.commands.cancel' | translate }}</button>
</div>
