<div class="blade-content __medium-wide">
  <div class="blade-inner">
    <div class="inner-block">
      <form class="form" name="formScope">
        <fieldset ng-init="setForm(formScope)">

          <div class="form-group">
            <label class="form-label">{{ 'catalog.blades.brand-setting-details.labels.enabled' | translate }}</label>
            <div class="form-input">
              <label class="form-label __switch">
                <input type="checkbox" ng-model="blade.currentEntity.brandsEnabled">
                <span class="switch"></span>
              </label>
            </div>
          </div>

          <div class="form-group">
            <label class="form-label">{{'catalog.blades.brand-setting-details.labels.catalog' | translate}}</label>
            <ui-scroll-drop-down page-size="50"
                                 ng-if="brandSettingsLoaded"
                                 ng-model="blade.currentEntity.brandCatalogId"
                                 data="blade.fetchCatalogs(criteria)"
                                 placeholder="'catalog.blades.brand-setting-details.placeholders.catalog'">
            </ui-scroll-drop-down>
          </div>

          <div class="form-group">
            <label class="form-label">{{'catalog.blades.brand-setting-details.labels.property' | translate}}</label>
            <ui-scroll-drop-down page-size="50"
                                 ng-if="brandSettingsLoaded"
                                 ng-model="blade.currentEntity.brandPropertyName"
                                 data="blade.fetchProperties(criteria)"
                                 placeholder="'catalog.blades.brand-setting-details.placeholders.property'">
            </ui-scroll-drop-down>
          </div>

        </fieldset>
      </form>
    </div>
  </div>
</div>
