<div class="blade-content">
  <div class="blade-inner">
    <div class="inner-block">
      <p class="note">
        {{'catalog.blades.catalog-languages.labels.note' | translate}}
      </p>
      <div class="table-wrapper">
        <table class="table __normal" ng-init="setForm(formScope)">
          <thead>
            <tr>
              <th class="table-col">
                {{'catalog.blades.catalog-languages.labels.active' | translate}}
              </th>
              <th class="table-col" colspan="2">
                {{'catalog.blades.catalog-languages.labels.language' | translate}}
              </th>
            </tr>
          </thead>
          <tbody ui-sortable="sortableOptions" ng-model="blade.currentEntity.valuesUnion">
            <tr class="table-item" ng-repeat="x in blade.currentEntity.valuesUnion">
              <td class="table-col" ng-click="x.isActive=!x.isActive">
                <div class="ui-grid-selection-row-header-buttons ui-grid-icon-ok" ng-class="{'ui-grid-row-selected': x.isActive}">&nbsp;</div>
              </td>
              <td class="table-col">
                <div>
                  <span class="table-t">{{x.languageCode}}</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>