<div class="blade-content __medium-wide">
  <div class="blade-inner">
    <div class="inner-block">
      <div class="sub-t">{{ 'catalog.blades.sort-ordering-list.subtitle' | translate }}</div>
      <p class="note">{{ 'catalog.blades.sort-ordering-list.hint' | translate }}</p>

      <div class="table-wrapper" ng-if="blade.currentEntities.length">
        <ul class="list __items" ui-sortable="sortableOptions" ng-model="blade.currentEntities">
          <li class="list-item" ng-repeat="item in blade.currentEntities" ng-click="blade.edit(item)" ng-class="{ '__inactive': !item.isVisible }">
            <div class="list-t">
              <span class="move-handle"><i class="fa fa-bars fa-gray"></i></span>
              <span>&nbsp;{{ item.name }}</span>
              <span class="badge" ng-if="item.isDefault" style="margin-left:8px;">{{ 'catalog.blades.sort-ordering-list.badges.default' | translate }}</span>
              <span class="badge" ng-if="!item.isVisible" style="margin-left:8px;">{{ 'catalog.blades.sort-ordering-list.badges.hidden' | translate }}</span>
              <span class="badge" ng-if="item.isCustom" style="margin-left:8px;">{{ 'catalog.blades.sort-ordering-list.badges.custom' | translate }}</span>
              <span class="badge" ng-if="!item.isExpressionEditable" style="margin-left:8px;">{{ 'catalog.blades.sort-ordering-list.badges.readonly' | translate }}</span>
              <a href="" ng-if="item.isCustom" ng-click="blade.deleteEntity(item, $event)" class="form-edit">
                <span class="form-ico fa fa-remove"></span>
              </a>
            </div>
            <div class="list-descr"><code>{{ item.sortExpression }}</code></div>
          </li>
        </ul>
      </div>

      <p class="text" ng-if="!blade.currentEntities.length">{{ 'catalog.blades.sort-ordering-list.empty' | translate }}</p>
    </div>
  </div>
</div>
