<div class="blade-content __medium-wide">
  <div class="blade-inner">
    <div class="inner-block">
      <form class="form" name="formScope">
        <fieldset>

          <div class="form-group">
            <label class="form-label">{{ 'catalog.blades.sort-ordering-detail.labels.visible' | translate }}</label>
            <div class="form-input">
              <label class="form-label __switch">
                <input type="checkbox" ng-model="blade.entity.isVisible" ng-disabled="!blade.canEditDisplay">
                <span class="switch"></span>
              </label>
            </div>
          </div>

          <div class="form-group">
            <label class="form-label required">{{ 'catalog.blades.sort-ordering-detail.labels.name' | translate }}</label>
            <div class="form-input">
              <input class="form-control" type="text" ng-model="blade.entity.name" ng-change="blade.onNameChanged()" ng-disabled="!blade.canEditDisplay" required>
            </div>
          </div>

          <div class="form-group" ng-repeat="lang in blade.languages">
            <label class="form-label">{{ 'catalog.blades.sort-ordering-detail.labels.localized-name' | translate }} ({{ lang }})</label>
            <div class="form-input">
              <input class="form-control" type="text" ng-model="blade.entity.localizedNames[lang]"
                     placeholder="{{ 'catalog.blades.sort-ordering-detail.placeholders.localized-name' | translate }}">
            </div>
          </div>

          <div class="form-group">
            <label class="form-label required">{{ 'catalog.blades.sort-ordering-detail.labels.code' | translate }}</label>
            <div class="form-input">
              <input class="form-control" type="text" ng-model="blade.entity.code" ng-change="blade.onCodeChanged()" ng-disabled="!blade.canEditCode" required>
            </div>
            <div class="form-help">{{ 'catalog.blades.sort-ordering-detail.help.code' | translate }}</div>
          </div>

          <div class="form-group">
            <label class="form-label">{{ 'catalog.blades.sort-ordering-detail.labels.clauses' | translate }}</label>
            <p class="note">{{ 'catalog.blades.sort-ordering-detail.help.clauses' | translate }}</p>
            <ul class="list __items" ui-sortable="sortableOptions" ng-model="blade.entity.clauses">
              <li class="list-item" ng-repeat="clause in blade.entity.clauses">
                <div class="form-inline" style="display:flex; align-items:center; gap:6px;">
                  <span class="move-handle" ng-if="blade.canEditExpression"><i class="fa fa-bars fa-gray"></i></span>
                  <select class="form-control" style="flex:1;" ng-model="clause.field" ng-change="blade.onClauseFieldChanged()"
                          ng-disabled="!blade.canEditExpression"
                          ng-options="name as name for name in blade.fieldOptions">
                  </select>
                  <button type="button" class="btn btn-sm" ng-class="{'btn-primary': clause.isDescending}"
                          ng-click="blade.setDirection(clause, true)" ng-disabled="!blade.canEditExpression">DESC</button>
                  <button type="button" class="btn btn-sm" ng-class="{'btn-primary': !clause.isDescending}"
                          ng-click="blade.setDirection(clause, false)" ng-disabled="!blade.canEditExpression">ASC</button>
                  <a href="" ng-if="blade.canEditExpression" ng-click="blade.removeClause($index)" class="form-edit">
                    <span class="form-ico fa fa-remove"></span>
                  </a>
                </div>
              </li>
            </ul>
            <a href="" ng-if="blade.canEditExpression" ng-click="blade.addClause()">
              <i class="fa fa-plus"></i>&nbsp;{{ 'catalog.blades.sort-ordering-detail.commands.add-clause' | translate }}
            </a>
          </div>

          <div class="form-group">
            <label class="form-label">{{ 'catalog.blades.sort-ordering-detail.labels.expression' | translate }}</label>
            <div class="form-input"><code>{{ blade.entity.sortExpression }}</code></div>
          </div>

        </fieldset>
      </form>
    </div>
  </div>
</div>
