<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CacheManager.Core" version="0.8.0" targetFramework="net451" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net461" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="FluentValidation" version="7.5.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net461" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net461" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="valueinjecter" version="2.3.3" targetFramework="net451" />
  <package id="VirtoCommerce.Domain" version="2.25.24" targetFramework="net461" />
  <package id="VirtoCommerce.Platform.Core" version="2.13.42" targetFramework="net461" />
  <package id="VirtoCommerce.Platform.Data" version="2.13.37" targetFramework="net461" />
</packages>