<div>
    <ui-select ng-model="filter.current" ng-change="filter.change()" style="position: absolute;width: 120px;">
        <ui-select-match allow-clear="true" placeholder="{{'catalog.blades.categories-items-list.placeholders.select-filter' | translate}}">{{$select.selected.name | translate}}</ui-select-match>
        <ui-select-choices repeat="x in $localStorage.catalogSearchFilters2 | filter: $select.search">
            <span ng-bind-html="x.name | translate | highlight: $select.search"></span>
        </ui-select-choices>
    </ui-select>
    <a href="" ng-click="filter.edit()" style="left: 125px; top:25px; position:absolute;" class="form-edit"><i class="form-ico fa fa-pencil"></i></a>

    <div class="form-input" style="margin-left: 160px;">
        <input ng-model="filter.keyword" ng-keyup="$event.which === 13 && filter.criteriaChanged()" style="width: calc(100% - 100px);" placeholder="{{'platform.placeholders.search-keyword' | translate}}">
        <button class="btn __other" style="position: relative;right: 45px;">
            <i class="btn-ico fa fa-remove" title="Clear" ng-click="filter.current=null;filter.change()"></i>
        </button>
    </div>
</div>