<div class="blade-static __bottom" ng-include="'Modules/$(VirtoCommerce.Catalog)/Scripts/blades/common/templates/ok-cancel.tpl.html'"></div>
<div class="blade-content">
  <div class="blade-inner">
    <div class="inner-block">
      <form class="form" name="optionProductForm">
        <div class="form-group" ng-init="setForm(optionProductForm)">
          <label class="form-label">{{ 'catalog.blades.option-details.labels.quantity' | translate }}</label>
          <div class="form-input __number">
            <input required ng-model="blade.currentEntity.quantity" ng-pattern="/^[1-9]+[0-9]*$/"
                   placeholder="{{ 'catalog.blades.option-details.placeholders.quantity' | translate }}">
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">{{ 'catalog.blades.option-details.labels.default' | translate }}</label>
          <div class="form-input">
            <label class="form-label __switch">
              <input type="checkbox" ng-model="blade.currentEntity.isDefault" />
              <span class="switch"></span>
            </label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>