<div class="blade-content __medium-wide">
  <div class="blade-inner">
    <div class="inner-block">
      <form class="form" name="configurationForm">
        <div class="form-group" ng-init="setForm(configurationForm)">
          <label class="form-label">{{ 'catalog.blades.configuration-details.labels.enable' | translate }}</label>
          <i class="form-ico fa fa-question-circle __link __lightblue" ng-click="blade.setting.enable_descrVisible=!blade.setting.enable_descrVisible"></i>
          <div class="form-input">
            <label class="form-label __switch">
              <input type="checkbox" ng-model="blade.currentEntity.isActive" />
              <span class="switch"></span>
            </label>
          </div>
          <div ng-if="blade.setting.enable_descrVisible">
            <div class="list __info list-descr">{{ 'catalog.blades.configuration-details.descr.enable' | translate }}</div>
            <a href="" ng-click="blade.setting.enable_descrVisible = null;">{{ 'catalog.blades.configuration-details.labels.hide' | translate }}</a>
          </div>
        </div>
        <div class="form-group">
          <div class="note" ng-if="!blade.currentEntity.sections.length">{{ 'catalog.blades.configuration-details.descr.no-sections' | translate }}</div>
          <div class="note" ng-if="blade.currentEntity.sections.length">{{ 'catalog.blades.configuration-details.descr.sorting-prompt' | translate }}</div>
          <div class="table-wrapper" ng-if="blade.currentEntity.sections.length > 0" ng-init="setGridOptions({
                data: 'blade.currentEntity.sections',
                rowTemplate: 'section-list.row.html',
                rowHeight: 45,
                enableSorting: false,
                virtualizationThreshold: 1000,
                columnDefs: [
                        { name: 'actions', displayName: '', enableColumnResizing: false, width: 30, cellTemplate: 'section-list-actions.cell.html', pinnedLeft:true },
                        { name: 'name', displayName: 'catalog.blades.configuration-details.labels.name', cellTemplate: 'section-list-name.cell.html' }
                 ]})" style="margin: 0 -20px 0;">
            <div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-save-state ui-grid-selection ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-draggable-rows ui-grid-height></div>
            <ul class="menu __context" role="menu" id="pcl_menu">
              <li class="menu-item" ng-click='edit(contextMenuEntity)'>
                <i class="menu-ico fa fa-edit"></i> {{'platform.commands.manage' | translate}}
              </li>
              <li class="menu-item" ng-click='delete(contextMenuEntity)' va-permission="configurations:delete">
                <i class="menu-ico fas fa-trash-alt"></i> {{'platform.commands.delete' | translate}}
              </li>
            </ul>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/ng-template" id="section-list.row.html">
  <div grid="grid" class="ui-grid-draggable-row" draggable="true">
    <div ng-click='grid.appScope.edit(row.entity)' ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid" ui-grid-one-bind-id-grid="rowRenderIndex + '-' + col.uid + '-cell'" class="ui-grid-cell" ng-class="{'ui-grid-row-header-cell': col.isRowHeader, '__hovered': grid.appScope.contextMenuEntity === row.entity, '__selected': row.entity.displayOrder===grid.appScope.selectedNodeId }" role="{{col.isRowHeader ? 'rowheader' : 'gridcell' }}" ui-grid-cell style="{{'cursor: ' + (col.name==='actions' ? 'pointer' : 'move')}}" context-menu="grid.appScope.contextMenuEntity = row.entity" data-target="pcl_menu"></div>
  </div>
</script>

<script type="text/ng-template" id="section-list-name.cell.html">
  <div class="ui-grid-cell-contents">
    <div class="inner-contents">
      <i class="table-ico fas fa-puzzle-piece"></i>
      <div class="table-t">{{COL_FIELD}}</div>
      <div class="table-descr">{{ 'catalog.blades.configuration-details.labels.quantity' | translate }}: {{row.entity.options.length}}</div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="section-list-actions.cell.html">
  <div class="ui-grid-actions" left-click-menu="grid.appScope.contextMenuEntity = row.entity" data-target="pcl_menu">
    <i class="fa fa-ellipsis-v"></i>
  </div>
</script>